<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Homepage</title>
  </head>
  <body>
    <%- include('./partials/script') %>
    <%- include('./partials/nav') %>
    <div class="container">
      <% allBlogs.forEach(blog => { %>
        <div class="card mt-2" style="width: 18rem;">
          <img src="<%= blog.coverImageUrl %>" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title"><%= blog.title %></h5>
            
            <a href="/blog/<%= blog._id %>" class="btn btn-primary">View Blog</a>
          </div>
        </div>
      <% }) %>
    </div>

  </body>
</html>
